/* BASE */
body {
    font-family: Trocchi; 
    font-weight: 400; 
    font-size: 16px; 
    min-width: 780px;
}

/* CUSTOMIZAR NAVBAR */
#mainNav {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    background-color: #fff;
    background-color: rgba(222, 110, 75, 1);
    padding: 0 10%;
}

#mainNav img {
    width: 210px;
    height: 125px;
    float: left;
}

#navbarSupportedContent {
    margin-left: 50%;
    text-align: right;
}

/* CUSTOMIZAR LINKS DA NAVBAR */
#mainNav .nav-link:hover {
    font-weight: bold;
    color: black !important;
    border-bottom: 1px solid black;
}

/* CUSTOMIZAR ÁREA DE CONTEÚDOS */
#conteudo {
    background-color: #fff;
    padding-left: 10%; 
    padding-right: 10%; 
    height: fit-content; 
    font-size: 14px;
    margin-top: 125px;
}

/* NOSSAS FOTOS */
#fotinhas {
    text-align: center;
    margin-top: 5%;
    margin-bottom: 4%;
}

#fotinhas img {
    background: #E56399; 
    width: 130px; 
    height: 130px; 
}

#fotinhas .PhotoBox {
    position: relative;
    display: inline-block;
    margin-right: 1%;
}

/* NOMES NAS FOTOS */
#fotinhas .sobreposicao {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    opacity: 0;
    transition: 0.5s ease;
    background-color: #E56399;
    border-radius: 100%;
}

#fotinhas .PhotoBox .sobreposicao p {
    width: 130px;
    height: 130px;
    padding-top: 55px;
}

#fotinhas .PhotoBox:hover .sobreposicao {
    opacity: 1;
}

/* CARDS MOSTRANDO AS PRINCIPAIS LOJAS */
#CardLoja {
    text-align: center;
    width: 18rem;
    padding-top: 1%;
    padding-bottom: 1%;
    border: 1px solid gray;
    margin-right: 1%;
}

#CardLoja img {
    height: 20rem;
}

#botao {
    color: white;
    font-size: 16px;
    font-weight: 500;
    background: #E56399;
    border: 2px solid rgba(122, 101, 99, 1);
}

#botao:hover {
    background: gray;
}

/* RODAPÉ */
#rodape {
    background: rgba(122, 101, 99, 1);
    position: fixed bottom;
    padding-left: 10%; 
    padding-right: 10%; 
    height: fit-content; 
    font-size: 14px;
}

#rodape img {
    padding-top: 5%;
    padding-left: 5%;
    width: 90%;
    height: 75%;
}

/* FORMULÁRIO */
.contato{
    display: flex;
    justify-content: center;
}

.content{
    width: 100%;
    max-width: 100%;
}

.formulario {
    display: flex;
    flex-direction: column;
}

.field{
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #DDD;
    border-radius: 5px;
    font-size: 16px;
}

.textarea{
    height: 150px;
}